p{
        font-family:arial;

    }
    .header {
        /* font-size: 24px;
        font-weight: bold;
        font-family:Arial;
        font-style:italic;
        text-align: center; */
        
        font-weight:bold;
        font-size:18px;
        text-align:left;
        width:275px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .stats{
        
        font-size:14px;
        color:rgb(96, 96, 96);
        margin-top:0px;
        margin-bottom: 15px;
    }
    .name{
        
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-top: 5px;
        margin-bottom:15px;
    }
    .body{
        font-size:14px;
        color:rgb(96, 96, 96);
        margin-top:0px;
        width:275px;
        line-height:24px;
        margin-bottom: 100px;
    }
    .shop{
        margin-bottom:50px;
        font-size:14px;
        background-color:rgb(277,65,64);
        color:white;
        text-align:center;
        padding:20px 30px 20px 30px;

    }
    .under:hover{
        text-decoration:underline;
        cursor:pointer;
    }